@import '../variables/colors.scss';

.footer {
  background-color: darken($background-secondary-color,20%);
  grid-area: footer;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-areas: "footer-links" "footer-copyright";
}

.footer__links {
  grid-area: footer-links;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-areas: "footer-product" "footer-help" "footer-contact";
  background-color: $background-secondary-color;
  padding: 1em;
}

.footer__copyright {
  grid-area: footer-copyright;
  padding: 1em;
}

.footer__links__product {
  grid-area: footer-product;
}
.footer__links__help {
  grid-area: footer-help;
}
.footer__links__contact {
  grid-area: footer-contact;
}


///*custom, iPhone Retina */
//@media only screen and (min-width: 320px) {
//
//}
/*Extra small devices, phones*/
@media only screen and (min-width: 480px) {
  .footer__links {
    grid-area: footer-links;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "footer-product footer-help footer-contact";
  }
}
/*Small devices, Tablets*/
@media only screen and (min-width: 768px) {

}
///*Medium devices, Desktop*/
//@media only screen and (min-width: 992px) {
//}
///*Large devices, Wide screens*/
//@media only screen and (min-width: 1200px) {
//
//}
//
