@import '../variables/colors.scss';

.header {
  background-color: darken($background-main-color,20%);
  grid-area: header;
  min-height: 4em;
  display: grid;
  align-items: center;
  padding: 1em;
  //margin: 0.5em;
}
a.logo {
    text-decoration: none;
    color: #fff;
  font-weight: 900;
}

///*custom, iPhone Retina */
//@media only screen and (min-width: 320px) {
//
//}
///*Extra small devices, phones*/
//@media only screen and (min-width: 480px) {
//
//}
///*Small devices, Tablets*/
//@media only screen and (min-width: 768px) {
//}
///*Medium devices, Desktop*/
//@media only screen and (min-width: 992px) {
//}
///*Large devices, Wide screens*/
//@media only screen and (min-width: 1200px) {
//
//}