.model-definition {
  grid-area: model-definition;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "model-settings" "predefined-variables";
  padding: 0 3em 0 3em;
}

.model-definition__predefined-variables {
  grid-area: predefined-variables;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "countries" "indicators";
}

.model-definition__model-settings {
  grid-area: model-settings;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "model-type" "data-source";
}

.model-definition__predefined-variables__countries {
  grid-area: countries;
}

.model-definition__predefined-variables__indicators {
  grid-area: indicators;
}
.model-definition__model-settings__model-type {
  grid-area: model-type;
}
.model-definition__model-settings_data-source {
  grid-area: data-source;
}

.model-variables {
}

.model-data {
  grid-area: model-data;
  padding: 0 3em 3em 3em;
}

.model-el {
  padding: 1em 0 0 0;
}