@import '../variables/colors.scss';

.btn {
  background-color: transparent;
  color: $secondary-color;
  padding: 0.5em 2.5em 0.5em 2.5em;
  border-radius: 25px;
  border: 1px solid $secondary-color;
  cursor: pointer;
  width: 100%;

  &:hover{
    transform: translateY(-3px);
    background-color: $secondary-color;
    color: #fff;
  }

  &:disabled:hover{
    background-color: transparent;
    color: #fff;
    transform: none;
    cursor: default;
  }
}

/*Small devices, Tablets*/
@media only screen and (min-width: 768px) {
  width: 80%;
}
/*Medium devices, Desktop*/
@media only screen and (min-width: 992px) {
}
/*Large devices, Wide screens*/
@media only screen and (min-width: 1200px) {

}