@import 'partials/header.scss';
@import 'partials/content.scss';
@import 'partials/sidebar.scss';
@import 'partials/footer.scss';
@import 'components/select.scss';
@import 'components/button.scss';
@import 'components/error.scss';
@import 'components/input.scss';
@import 'variables/colors.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-main-color;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: $primary-color;
  letter-spacing: 0.1em;
  line-height: 2em;
}
.strong{
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $primary-color;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
          "model-definition"
          "model-data"
          "model-output"
          "footer";
  font-size: 14px;
}
/*custom, iPhone Retina */
@media only screen and (min-width: 320px) {

}
/*Extra small devices, phones*/
@media only screen and (min-width: 480px) {

}
/*Small devices, Tablets*/
@media only screen and (min-width: 768px) {
  .wrapper{
    grid-template-columns: 30% auto;
    grid-template-areas:
            "model-definition model-output"
            "model-data model-output"
            "footer footer"
  }
}

/*Medium devices, Desktop*/
@media only screen and (min-width: 992px) {

}
/*Large devices, Wide screens*/
@media only screen and (min-width: 1200px) {

}

.jxgbox{
  width: 500px;
  height: 500px;
}
