$primary-color: #024b30;
//$primary-color: #013220;
$secondary-color: #B8860B;
//$font-primary-color:
//$font-secondary-color:
//$background-main-color: #013220;
$background-main-color: #fff;
$background-secondary-color: #7f7f7f;
